div {
  width: 100px;
  height: 100px;
  background: red;

}

div:hover {
  width: 300px;
  /*
  transition-duration: 2000ms;
  transition-timing-function: ease-in-out;
  transition-delay: 250ms;
}
*/
transition:2000ms ease-in-out 250ms;
}